<div class="table-responsive">
	<table class="table table-hover">
	  <thead class="thead">
	    <tr>
	      <th>Time</th>
	      <th>Date</th>
	      <th>Sold</th>
	      <th>Bought</th>
	      <th>Exchange rate</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr *ngFor="let transaction of transactions | async | reverse">
		  <td>{{transaction.timestamp.toLocaleTimeString()}}</td>
		  <td>{{transaction.timestamp.toLocaleDateString()}}</td>
	      <td>{{transaction.soldAmount | number : '1.2-8'}} {{transaction.soldCurrency}}</td>
	      <td>{{transaction.boughtAmount | number : '1.2-8'}} {{transaction.boughtCurrency}}</td>
	      <td>1 {{transaction.soldCurrency}} = {{transaction.getExchangeRate() | number : '1.2-8'}} {{transaction.boughtCurrency}}</td>
	    </tr>
	  </tbody>
</table>
</div>