 <div class="container mb-3 p-2 bg-white">
      <div class="row p-0 m-0">
		<div class="col-md-6 p-1 bg-white">
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="thead">
                <tr>
                  <th>Currency</th>
                  <th>Amount</th>
                  <th>Value in US Dollar</th>
              </thead>
              <tbody>
                <tr *ngFor="let balance of balances | async">
                  <td><img *ngIf="balance.currency != 'USD'" src="assets/img/crypto-icons/{{balance.currency | lowercase}}.png" />
                    <span>
                      {{balance.currency == 'USD' ? 'Dollar' : currency_map[balance.currency].name}}
                    </span> ({{balance.currency }})
                  </td>
                  <td>{{balance.amount}}</td>
                  <td>{{balance.inUSD}}</td>
		          </tr>
              <tr class="total" *ngIf="balances | async">
                 <td><span>Total in Dollar </span>(USD)
                  </td>
                  <td></td>
                  <td>{{totalInUSD}}</td>
		          </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-6 p-1 bg-white">
          <div class="piechart" [chart]="chart"></div>
        </div>
	</div>
</div>
