

.row i {
    font-size: 25px;
    margin-left: 13px;
  }
.row .col-sm-5 {
    display: inline-block;
}

.top-price {
    color: #a3a1a1;
    margin-left: 20px;
    font-size: 16px;
}

.pct {

    color: white;
    border-radius: 5px;
    padding: 1px 6px;
}

.red {

    background: #d8a0a0;
}

.green {
    background:  #6db56d
}

.description {
  ::ng-deep {
    .tab-title {
      font-weight: bold;
      margin-bottom: 11px;
    }

    a {
      color: #8cc63f;
    }

    .btn-primary {
      background: #8cc63f;
      border: 1px solid #8cc63f;
      cursor: pointer;
      color: #fff;
    }

    a.btn {
      display: none;
    }
  }
}

