<div class="animated fadeIn">
  <div class="container p-2">

    <div class="card">
      <div *ngIf="currency_map" class="card-body">
        <div class="row">
          <i class="cc {{currency_map[currency].sym}}"></i>
          <div class="col-sm-5">
            <h4 class="card-title mb-0">{{currency_map[currency].name}}</h4>
            <div class="small text-muted">{{currency_map[currency].sym}}</div>
          </div>
          
        </div>

      </div>
      
    </div>


   
    <app-cryptodaychart *ngIf="currency" [currencies]="[currency]"></app-cryptodaychart>

    

</div>
</div>