<div class="animated fadeIn">
  <div class="container p-2">

    <div class="card">
      <div *ngIf="currency_map && price" class="card-body">
        <div class="container">
        <div class="row">
          <i class="cc {{currency_map[currency].sym}}"></i>
          <div class="col-sm-5">
            <h4 class="card-title mb-0">{{currency_map[currency].name}}
              <span class="top-price">
                {{price['PRICE'].replace(' ','')}}
              </span>
              <span class="top-price pct" [ngClass]="{'red': price['CHANGEPCT24HOUR'] < 0, 'green': price['CHANGEPCT24HOUR'] >= 0}">
                  {{price['CHANGEPCT24HOUR'] >= 0 ? '+':''}}{{price['CHANGEPCT24HOUR']}}%
                </span>
            </h4>
            <div class="small text-muted">{{currency_map[currency].sym}}</div>
          </div>

        </div>

        <div class="row description" [innerHTML]="cryptoDescription | async">
        </div>
      </div>
    </div>
    </div>



    <app-cryptodaychart *ngIf="currency" [currencies]="[currency]"></app-cryptodaychart>



</div>
</div>
