table.market-table {
  tr th {
    border-top: 0;
    
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      text-align: right;
    }
  }
  tbody td{
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      text-align: right;
    }

    &.red {
      color: #DF5A49;
    }

    &.green {
      color: #4dbd74;
    }
  }
}