<router-outlet *ngIf="!router.isActive('market', true); else market"></router-outlet>

<ng-template #market>
  <div class="animated fadeIn">
    <div class="container p-3 bg-white table-responsive">
      <table class="table table-hover market-table">
        <thead class="thead">
          <tr>
            <th>Name</th>
            <th>Price</th>
            <th data-sortable="true">Market Cap</th>
            <th>Volume (24h)</th>
            <th>Circulating Supply</th>
            <th>Pricegraph<th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let currency of marketModel" [routerLink]="[currency.NAME]">

            <td class={{currency.NAMEFLASH}}>
              <p>
                <img src="assets/img/crypto-icons/{{currency.NAME | lowercase}}.png" />{{nameObject[currency.NAME].name}}
              </p><span>{{nameObject[currency.NAME].sym}}</span>
            </td>
            <td class={{currency.PRICEFLASH}}><p>{{currency.USD.PRICE | number}} $</p><span class="{{currency.USD.CLASS}} percent">{{currency.USD.CHANGEPCT24HOUR | number : '1.2-2'}} %</span></td>
            <td class={{currency.MKTCAPFLASH}}>{{currency.USD.MKTCAP | number : '1.0-0'}} $</td>
            <td class={{currency.VOLUME24HOURFLASH}}>{{currency.USD.VOLUME24HOUR | number : '1.2-2'}} $</td>
            <td class={{currency.SUPPLYFLASH}}>{{currency.USD.SUPPLY | number : '1.0-0'}} $</td>
            <td><app-price-sparklines></app-price-sparklines><td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>


</ng-template>
