table.market-table {
  tr th {
    border-top: 0;
      text-align: right;

      &:nth-child(1) {
        text-align: left;
        padding-left: 44px;
      }
  }
  tbody td{
    text-align: right;
    font-size: 1rem;
    cursor: pointer;
    
    &:nth-child(1) {
      font-weight: 700;
      text-align: left;
      font-size: 1rem;
      img {
        width: 22px;
        margin-right: 12px;
      }
    }

    &:nth-child(2) {
      p {
        margin-bottom: 0;
      }

      span {
        font-size: 0.75rem;
        font-weight: 700;
      }
    }


  

    .red {
      color: #DF5A49;
      &:after{
        font-family: FontAwesome;
        content: "       \f088"
      }
    }

    .green {
      color: #4dbd74;
      &:after{
          font-family: FontAwesome;
          content: "       \f087";
      }
    }
  }
}

.flash-green {
  -webkit-animation-name: flash-animation-green;
  -webkit-animation-duration: 2s;

  animation-name: flash-animation-green;
  animation-duration: 2s;
}

@-webkit-keyframes flash-animation-green {  
  0%  { background-color: #4dbd74;}
  50% { background-color: opacify(#4dbd74, 0.2);}
  100%{ background-color: opacify(#4dbd74, 0);}
}

@keyframes flash-animation-green {  
  from { background: #4dbd74;}
  to   { background: default;}
}

.flash-red {
  -webkit-animation-name: flash-animation-red;
  -webkit-animation-duration: 1.8s;

  animation-name: flash-animation-red;
  animation-duration: 1.8s;
}

@-webkit-keyframes flash-animation-red {  
  from { background: #DF5A49;}
  to   { background: default;}
}

@keyframes flash-animation-red {  
  from { background: #DF5A49;}
  to   { background: default;}
}
