
.wallet-list,
.bank-list,
.bank-trading-list,
.wallet-trading-list
{
  list-style-type: none;
  margin: 0;
  padding: 0 .5rem;
  overflow: auto;
  min-height: 95px;
}

.col-7 {
  border: solid 1px #f2f2f2;
  padding-top: 20px;
  border-radius: 4px;
  margin-top: 32px;

  h5 {
    margin-top: -30px;
    margin-bottom: 30px;

    span {
      background: white;
      padding: 0 3px;
    }
  }
}

.col {

  p {
    text-align: center;
    color: grey;
  }
}

mat-slider {
  margin-left: -6px;
  width: 100%;
}

.buy-amount {
  padding: 0 1rem 0 1rem;
  color: lightgray;
  margin-bottom: -21px;
}

.price {

}

.wallet-list,
.bank-list {
  height: 600px;
  overflow: auto;
}

h3,
h5 {
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.wallet-item,
.bank-item {
  border: solid 1px transparent;
  padding: .5rem;
  margin: .3rem .1rem;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 1px #FFFFFF inset, 0 1px 3px rgba(34, 25, 25, 0.4);  
  img {
    width: 22px;
    margin: 0.2rem;
  }

  div {
    .title {
      font-size: 1rem;
      padding-left: 5px;
    }
  
    .sum {
      display: block;
      padding-left: 5px;
      font-size: .7rem;
      color: hsla(201, 19%, 70%, 1);
    }
  }

  &:hover {
    background: #f9f9f9;
    cursor: pointer;
    box-shadow: 0 1px #FFFFFF inset, 0 4px 11px rgba(34, 25, 25, 0.2);
    transition: 200ms ease-in;
    transform: translateY(-1px);
  }

  &:active,
  &.selected {
    background: #f3f3f3;
    box-shadow: none;
    //border: solid 1px #e1e1e1;
  }

  &.disabled {
    box-shadow: none;

    &:hover {
      background: white;
      transform: none;
      cursor: default;
    }
  }
}

.trading-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;

  ul {
    width: 45%;
    padding: .2rem;
  }

  .trading-icon-container {
    display: flex;
    align-items: center;
    padding: 1rem 0;

    span {
      background: white;
      border: solid 1px #f2f2f2;
      padding: 2px 6px;
      border-radius: 20px;
      z-index: 1;
      color: #b5b5b5;
    }

    &::before {
      border-left: solid 1px #f2f2f2;
      content: ".";
      color: white;
      height: 100%;
      transform: translateX(17px);
      z-index: 0;
    }
  }
}

.trading-item {
  border-radius: 5px;
  padding: 0.25rem;
  
  .container-name {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
    
    img {
      width: 22px;
    }

    input,
    input:disabled {
      width: 100%;
      border: 0;
      text-align: center;
      font-size: 15px;
      color: #3e515b;
      background-color: #FFF;
  
    }
    
    .title {
      font-size: 15px;
    color: #6d6d6d;
    font-weight: bold;
    }
  }

  .container-slider {
    width: 100%;
    padding: .5rem 1rem 0 1rem;
  }
}

.button-container {
  button {
    margin: 1rem .5rem;
  }
}