<div class="animated fadeIn">
  <div class="container p-2">

      <div class="card">
          <div  class="card-body">
            <div class="row">
              <div class="col-sm-5">
                <h4 class="card-title mb-0">Welcome to Coinsim</h4>
                <div class="small text-muted">Logged in as {{username}}</div>
              </div>
              
            </div>
            
            <div *ngIf="currencies && currencies.length == 0" class="intro">
              <p>Hello there {{username}}!
              It seems like you're new around.<br>
              You don't have any Coins in your wallet yet, but we have gifted you with $5000 to spend how you like.</p>
              <p>Happy Trading! <i class="icon-heart"></i></p>
            </div>

          </div>
          
        </div>
        
      <app-cryptodaychart *ngIf="currencies && currencies.length > 0" [currencies]="currencies"></app-cryptodaychart>

</div>
</div>
